.ui-content {
    padding: 0 !important;
}
 
.ui-listview {
    margin: 0 !important;
}
 
.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

/*.ui-li-has-thumb img{
	width: 60px;
}*/

#movie-data .ui-li-has-thumb{
	text-align: center;
}

#movie-data li img{
	max-width: 50%;	
	max-height: 50%;
	position: relative;
}

/*Formulario*/
<<<<<<< HEAD
#email{
	margin-left: 19px;
}
=======
>>>>>>> b7286828ed661b3152ffccc78288ac899b58f29c

#email, #cantidad{
	width: 80%;
}
