input {
    -webkit-user-select: auto !important;
}

.ui-content {
    padding: 0 !important;
}
 
.ui-listview {
    margin: 0 !important;
}
 
.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

/*.ui-li-has-thumb img{
	width: 60px;
}*/

#movie-data .ui-li-has-thumb{
	text-align: center;
}

#movie-data li img,  #movie-data-pedido .ui-first-child img{
	border-radius: 1rem;
	max-width: 50%;	
	max-height: 35%;
	position: relative;
}

/*Formulario*/
#email{
	/*margin-left: 19px;*/
}

#email, #cantidad{
	font-size: 14px;
	margin: 0.2rem;
	padding: 0.4rem;
	width: 95%;
}

#producto{
	width: 60%;
}

.ui-header, .ui-footer{
	background: #000;
	color: #FFF;
	text-shadow: none;
}

.ui-header .ui-title, .ui-footer .ui-title{
	margin: 0 10%;
}

.ui-listview>li h3{
	font-size: 0.9em;
}

.ui-listview>.ui-li-has-thumb>.ui-btn{
	padding-left: 5.7rem;
	padding-top: 1.5rem;
}

.ui-listview .ui-li-has-thumb>.ui-btn>img:first-child{
	border-radius: 2rem;
	margin-top: 0.8rem;
}

.ui-btn, .ui-listview>li h3, .ui-listview>li>a.ui-btn, .ui-listview>.ui-li-static{
	white-space: normal;
}

.ui-listview>.ui-li-static.ui-li-has-thumb{
	padding-left: 0;
}

.ui-listview>.ui-li-has-thumb>.ui-btn{
	min-height: 2.6em;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
	background-color: rgba(228, 3, 5, 0.96);
}

#movie-data-pedido li.ui-first-child, #movie-data-pedido li.ui-last-child, #texto-cajas{
	text-align: center;
}

#btn-enviar{
	background: #e40305;
	color: white;
	display: inline-block;
	font-weight: normal;
	text-shadow: none;
}

#btn-enviar:hover{
	background: #000;
}

#nom-producto{
	font-size: 0.8rem;
}