input {
    -webkit-user-select: auto !important;
}

.ui-content {
    padding: 0 !important;
}

 #pedido .ui-content{
 	top: 23%;
 }
 
.ui-listview {
    margin: 0 !important;
}
 
.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

/*.ui-li-has-thumb img{
	width: 60px;
}*/

#movie-data .ui-li-has-thumb{
	text-align: center;
}

#movie-data li img,  #movie-data-pedido .ui-first-child img{
	border-radius: 1rem;
	max-width: 50%;	
	max-height: 35%;
	position: relative;
}

/*Formulario*/
#email{
	/*margin-left: 19px;*/
}

#email, #cantidad, #cliente{
	font-size: 14px;
	margin: 0.2rem;
	padding: 0.4rem;
	width: 95%;
}

#producto{
	width: 60%;
}
.ui-header{
	margin-bottom: -2px;
	top: -1px;
} 

.ui-footer{
	bottom: -5px !important;
}

.ui-header, .ui-footer{
	background: #000;
	color: #FFF;
	text-shadow: none;
}

.ui-header .ui-title, .ui-footer .ui-title{
	margin: 0 10%;
}

.ui-listview>li h3{
	font-size: 0.9em;
}

.ui-listview>.ui-li-has-thumb>.ui-btn{
	padding-left: 5.7rem;
	padding-top: 1.5rem;
}

.ui-listview .ui-li-has-thumb>.ui-btn>img:first-child{
	border-radius: 2rem;
	margin-top: 0.8rem;
}

.ui-btn, .ui-listview>li h3, .ui-listview>li>a.ui-btn, .ui-listview>.ui-li-static{
	white-space: normal;
}

.ui-listview>.ui-li-static.ui-li-has-thumb{
	padding-left: 0;
}

.ui-listview>.ui-li-has-thumb>.ui-btn{
	min-height: 2.6em;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
	background-color: rgba(228, 3, 5, 0.96);
}

#movie-data-pedido li.ui-first-child, #movie-data-pedido li.ui-last-child, #texto-cajas{
	text-align: center;
}

#btn-enviar{
	background: #e40305;
	border-radius: 1rem;
	color: #FFF;
	display: inline-block;
	font-weight: normal;
	text-shadow: none;
	width: 50%;
}

#btn-enviar:hover{
	background: #000;
	color: #FFF;
}

.ui-loader-default h1{
	font-size: 0.6em;
	height: 100%;
	width: 100%;
}

#nom-producto{
	font-size: 0.8rem;
}

#cargando{
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	background: 0;
	filter: Alpha(Opacity=50);
	opacity: .50;
	width: 2.875em;
	height: 2.875em;
	margin-left: -1.4375em;
	margin-top: -1.4375em;
}

#cargando h1{
	font-size: 0.6em;
	margin-left: -5px;
}

.icono-cargando{
	background: url("images/ajax-loader.gif");
	background-size: 2.875em 2.875em;
	background-color: #fff;
	display: block;
	margin: 0;
	width: 2.75em;
	height: 2.75em;
	padding: .0625em;
	-webkit-border-radius: 2.25em;
	border-radius: 2.25em;
}

#home-principal .ui-grid-a{
	text-align: center;
}

#home-principal .ui-responsive>.ui-block-a, #home-principal .ui-responsive>.ui-block-b{
	width: 50%;
	display: inline-block;
	height: 230px;
	vertical-align: bottom;
}

#plus, #minus{
	display: inline-block;
}

#cantidad{
	margin: 0 1em;
	text-align: center;
	width: 50%;
}

@media (min-width:28em){

}

@media (max-width: 35em){
	#home-principal .ui-responsive>.ui-block-a, #home-principal .ui-responsive>.ui-block-b{
		width: 49%;
		display: inline-block;
		height: 200px;
		vertical-align: bottom;
	}

	#home-principal img{
		width: 100%;
	}

	#barras, #bombones, #cremavellanas, #tortas{
		font-size: .9em;
		top:25%;
	}
}