input {
    -webkit-user-select: auto !important;
}

.ui-content {
    padding: 42px 0 42px 0 !important;
}

 #pedido .ui-content{
 	top: 23%;
 }
 
.ui-listview {
    margin: 0 !important;
}
 
.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

#movie-data .ui-li-has-thumb{
	border: 0;
	line-height: 0;
	padding: 0;
	text-align: center;
}

#movie-data li img,  #movie-data-pedido .ui-first-child img{
	max-width: 100%;	
	max-height: 100%;
	position: relative;
	width: 100%;
}

/*Formulario*/

#email, #cantidad, #cliente{
	font-size: 14px;
	margin: 0.2rem;
	padding: 0.4rem;
	width: 92%;
}

#producto{
	width: 60%;
}

.ui-header, .ui-footer{
	background: #811111;
	border: 0;
	color: #FFF;
	position: fixed;
	width: 100%;
	text-shadow: none;
	z-index: 1;
}

.ui-header .ui-title, .ui-footer .ui-title{
	margin: 0;
}

.ui-listview>li h3{
	font-size: 0.9em;
}

.ui-listview>.ui-li-has-thumb>.ui-btn{
	padding-left: 5.7rem;
	padding-top: 1.5rem;
}

.ui-listview .ui-li-has-thumb>.ui-btn>img:first-child{
	border-radius: 0.5rem 0.5rem 0 0 !important;
	margin-top: 0.8rem;
	margin-left: 0.1rem;
}

.ui-btn, .ui-listview>li h3, .ui-listview>li>a.ui-btn, .ui-listview>.ui-li-static{
	white-space: normal;
}

.ui-listview>.ui-li-static.ui-li-has-thumb{
	padding-left: 0;
}

.ui-listview>.ui-li-has-thumb>.ui-btn{
	min-height: 2.6em;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
	background-color: rgba(228, 3, 5, 0.96);
}

#movie-data-pedido li.ui-first-child, #movie-data-pedido li.ui-last-child, #texto-cajas{
	text-align: center;
}

#movie-data-pedido li.ui-first-child{
	border: 0;
	padding: 0;
	line-height: 0;
}

#btn-enviar{
	background: #e40305;
	border: 0;
	color: #FFF;
	display: inline-block;
	font-size: 0.9rem;
	font-weight: normal;
	margin: 0;
	text-shadow: none;
	text-transform: uppercase;
	width: 50%;
}

#btn-enviar:hover{
	background: #000;
	color: #FFF;
}

.ui-loader-default h1{
	font-size: 0.6em;
	height: 100%;
	width: 100%;
}

#nom-producto, #nom-producto-info{
	font-size: 0.8rem;
	margin-top: -34px;
	background: rgba(76, 41, 43, 0.5) !important;
	border-top: 0;
}

#cargando{
	display: block;
	position: fixed;
	background: #fff;
	filter: Alpha(Opacity=50);
	opacity: .50;
	width: 100%; /*2.875em*/
	height: 100%; /*2.875em*/
	text-align: center;
	top: 0;
	left: 0;
	z-index: 2;
}

#cargando h1{
	color: #000;
	font-size: 0.6em;
	margin-left: -5px;
}

.icono-cargando{
	background: url("images/ajax-loader.gif");
	background-size: 2.875em 2.875em;
	background-color: #fff;
	display: inline-block;
	margin: 0;
	width: 2.75em;
	height: 2.75em;
	padding: .0625em;
	margin-top: 76%;
	-webkit-border-radius: 2.25em;
	border-radius: 2.25em;
}

#home-principal .ui-grid-a{
	text-align: center;
}

#home-principal .ui-responsive>.ui-block-a, #home-principal .ui-responsive>.ui-block-b{
	border-bottom: 1px solid #FFF;
	width: 100%;
	display: inline-block;
	line-height: 0;
	vertical-align: bottom;
}

#home-principal, #home, #headline, #pedido{
	background: rgba(255, 255, 255, 0.18);
	width:100%;
}

.ui-footer{	
	bottom: 0 !important;
}

#plus, #minus{
	display: inline-block;
}

#cantidad{
	background: rgba(255, 255, 255, 0);
	border: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	margin: 0 1em;
	text-align: center;
	width: 50%;
}

#cantidad-label{
	color: #A9A9A9;
	display: inline-block;
	font-size: 14px;
	margin: 0;
	text-transform: none;
	width: 100%;
}

body, .ui-overlay-a, .ui-page-theme-a, #movie-data li, #movie-data-pedido li{
	background: #4c292b;
}

.ui-mobile, .ui-mobile body{
	height: 100%;
}

.ui-listview>li h3, #barras, #bombones, #cremavellanas, #tortas, #movie-data li, #nom-producto, #cantidad-label{
	color: #FFF;
	font-weight: normal;
	text-shadow: none;
}

.ui-listview>li.ui-first-child>a.ui-btn{
	border: 0;
}

.ui-listview>li.ui-last-child>a.ui-btn, #movie-data-pedido li.ui-last-child{
	border-bottom: 0;
}

.list_top {
	font-weight: bold;
	position: relative;
	background: rgba(76, 41, 43, 0.69);
	line-height: normal;
	margin-top: -15px;
}

#barras, #bombones, #cremavellanas, #tortas{
		display: inline-block;
		font-size: .9em;
		line-height: 0;
		padding: 0;
		text-align: center;
		width: 258px;
}

#movie-data-principal{
	text-align: center;
}

#movie-data-principal li{
	line-height: 0;
	text-align: center;
	padding: 0;
}

#movie-data-principal li, #movie-list li a, #movie-data-pedido li{
	background: none;
}

#movie-data-principal li:hover,  #movie-list li:hover{
	background-color: rgba(255, 255, 255, 0.22);
}

#movie-data-principal .ui-first-child{
	border:0;
}

#movie-data-principal .ui-last-child{
	border-bottom-width: 0;
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active{
	background-color: rgba(0, 0, 0, 0.7);
	border-color: rgba(0, 0, 0, 0);
	color: #FFF;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#btn-cajas{
	border: 0;
	padding-bottom: 0;
	padding-top: 0;
}

#pedido .ui-content{
	padding-bottom: 15px !important;
}

input::-webkit-inner-spin-button{
	display: none;
}

@media (min-width:28em){

}

@media (max-width: 35em){
	/*#home-principal .ui-responsive>.ui-block-a, #home-principal .ui-responsive>.ui-block-b{
		width: 49%;
		display: inline-block;
		height: 200px;
		vertical-align: bottom;
	}*/

	/*#home-principal img{
		border: 1px solid #EAEAEA;
		padding: 2px;
		width: 95%;
	}

	#barras, #bombones, #cremavellanas, #tortas{
		font-size: .9em;
		line-height: 0;
		padding: 0;
		top:25%;
	}*/
}